= form_for @enrolment do |f|
  - if @enrolment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@enrolment.errors.count, "error")} prohibited this enrolment from being saved:"
      %ul
        - @enrolment.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
